<%= form_with model: @user_choice, url: sixth_user_steps_path, method: :get do |form| %>
  <h6 class="which_one"><%= t('.Notice')%></h6>
  <p class="enum-choice"><%=t('.About family')%></p>

  <div class="enum-choice">
    <%= form.radio_button :home, :kids, class: "radio-inline__input" %>
    <%= form.label(:home, (t'.Kids'), value: "kids", class: "radio-inline__label") %>
    <%= form.radio_button :home, :none, class: "radio-inline__input" %>
    <%= form.label(:home, (t'.None'), value: "none", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit (t '.Next'), class: "button004"%>
  </div>
  <div class="step_back">
   <%= link_to t('.Back'), fourth_user_steps_path, class: "text-info" %>
  </div>

  <div class="tip">
    <p><% t('.It is adorable when doggies and children play together') %></p>
    <p><% t('.It would be wonderful if the doggie and the child could play together') %></p>
    <p><% t('.However, some breeds and personalities are not good with children') %></p>
    <p><% t('.Can you think of any dog breeds that are good with children?') %></p>
  <div>
<% end %>