 <%= form_with model: @user_choice, url: fifth_user_steps_path, method: :get do |form| %>
  <h6 class="which_one">当てはまる方を選んでください</h6>
  <p class="enum-choice"><%= t('.Exercise') %></p>

  <div class="enum-choice">
    <%= form.radio_button :exercise, :like, class: "radio-inline__input" %>
    <%= form.label(:exercise, (t'.Like'), value: "like", class: "radio-inline__label") %>
    <%= form.radio_button :exercise, :dislike, class: "radio-inline__input" %>
    <%= form.label(:exercise, (t'.Dislike'), value: "dislike", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit (t '.Next'), class: "button004" %>
  </div>
  <div class="step_back">
    <%= link_to t('.Back'), third_user_steps_path, class: "text-info" %>
  </div>

  <div class="tip">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  
<% end %>