 <%= form_with model: @user_choice, url: third_user_steps_path, method: :get do |form| %>
  <h6 class="which_one"><%= t('.Notice')%></h6>
  <p class="enum-choice"><%= t('.Do you like cleaning up?') %></p>
  
  <div class="enum-choice">
    <%= form.radio_button :cleaning, :like, class: "radio-inline__input"%>
    <%= form.label(:cleaning, (t'.Like'), value: "like", class: "radio-inline__label") %>
    <%= form.radio_button :cleaning, :dislike, class: "radio-inline__input" %>
    <%= form.label(:cleaning, (t'.Dislike'), value: "dislike", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit (t '.Next'), class: "button004"%>
  </div>
  <div class="step_back">
    <%= link_to t('.Back'), first_user_steps_path, class: "text-info" %>
  </div>

  <div class="tip">
    <p><%= t('.Lots of doggies of various fur colors') %></p>
    <p><%= t('.Some breeds shed easily and some do not shed easily') %></p>
    <p><%= t('.Oops! The dog molted everywhere! Your house is covered in hair') %></p>
    <p><%= t('.Let\'s think about daily cleaning and dog allergies!') %></p>
  <div>
<% end %>