 <%= form_with model: @user_choice, url: user_steps_path, method: :post do |form| %>
  <h6 class="which_one"><%= t('.Notice')%></h6>
  <p class="enum-choice"><%= t('.About house')%></p>

  <div class="enum-choice">
    <%= form.radio_button :house, :owned, class: "radio-inline__input" %>
    <%= form.label(:house, (t'.Owned'), value: "owned", class: "radio-inline__label") %>
    <%= form.radio_button :house, :rent, class: "radio-inline__input" %>
    <%= form.label(:house, (t'.Rent'), value: "rent", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit (t '.Next'), class: "button004"%>
  </div>
  <div class="step_back">
    <%= link_to t('.Back'), fifth_user_steps_path, class: "text-info" %>
  </div>

  <div class="tip">
    <p><%= t('.It would be wonderful to have a doggy waiting for you when you get home') %></p>
    <p><%= t('.In many cases, there are not many rental apartments that allow pets,') %></p>
    <p><%= t('.only small dogs are allowed, and the size of the dog is specified') %></p>
    <p><%= t('.It is important to check the size of the adult dog of the breed you want to keep') %></p>
  <div>
<% end %>