 <%= form_with model: @user_choice, url: user_steps_path, method: :post do |form| %>
  <h6 class="which_one"><%= t('.Notice')%></h6>
  <p class="enum-choice"><%= t('.About house')%></p>

  <div class="enum-choice">
    <%= form.radio_button :house, :owned, class: "radio-inline__input" %>
    <%= form.label(:house, (t'.Owned'), value: "owned", class: "radio-inline__label") %>
    <%= form.radio_button :house, :lent, class: "radio-inline__input" %>
    <%= form.label(:house, (t'.Rent'), value: "lent", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit (t '.Next'), class: "button004"%>
  </div>
  <div class="step_back">
    <%= link_to t('.Back'), fifth_user_steps_path, class: "text-info" %>
  </div>

  <div class="tip">
    <p>お家に帰ったら、わんちゃんが待っている暮らし、素敵ですよね。</p>
    <p>賃貸で、ペット可の物件が少なかったり、</p>
    <p>小型犬のみとサイズが指定されていることが多いです。</p>
    <p>飼いたい犬種の成犬時のサイズの確認は大切ですね。</p>
  <div>
<% end %>