<body class="main-container">
  <div class="text">
    <h3 class="title"><%= t('.This is for those of you who are about to welcome a doggy into your family') %></h3>
    <div><P class="small"><%= t('.In Japan, you can find about 200 different breeds of doggies!') %></p></div>
    <div><p class="small"><%= t('.They range from large dogs weighing over 80 kg to small dogs weighing as little as 2 kg,') %><br>
    <%= t('.They Also Like To Be Physically Active And Get Along Well With Small Children') %></p><div>
    <h4><%= t('.So, what kind of dog will you choose?') %></h4><br><br>
    <p class="small"><%= t('.Currently, some dogs are being abandoned') %></p>
    <p class="small"><%= t('.This problem is caused by a mismatch') %><br><%= t('.between the owner\'s lifestyle and environment, and the dog\'s personality') %></p>
    <p class="small"><%= t('.To spend 10-15 years of wonderful life with your dog') %><br>
    <%= t('.you must be wondering what kind of dog is the best match for you') %></p>
    <h4><%= t('.Can we help you meet a wonderful family member?') %></h4>
    <h1 class="conclusion"><%= t('.You can do a compatibility check') %></h1><br>
    <% unless cookies[:locale] == "ja" %>
      <h1 class="conclusion"><%= t('.with Wonder!') %></h1>
    <% end %>

  <div class="link">
    <%= link_to t('.Sign Up'),  new_user_registration_path, id: "signup" %>
  </div>
  <br>
  <% unless user_signed_in? %>
    <%= link_to t('.Guest login'), users_guest_sign_in_path, method: :post, class: "text-info" %>
    <%= link_to t('.Admin login'), users_guest_admin_sign_in_path, method: :post, class: "text-info" %>
  <% end %>
  <%= link_to t('.Japanese'), locale_path(locale: "ja") %>
  <%= link_to t('.English'), locale_path(locale: "en") %>
</body>
